@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  margin: 2em;
}

.drop-zone {
  width: 100px;
  height: 100px;
  float:  left;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:  5px dashed pink;
}

.drop-zone--over {
  opacity:  .5;
}

#myDraggableElement {
  width: 50px;
  height: 50px;
  background:  darkslateblue;
}

